.landing{
	margin-top: 130px;
}

.section1 .header *{
	font-weight: 800 !important;
    letter-spacing: -0.15rem;
    font-size: 3.6rem;
    line-height: 3.5rem;
	color: #010100;
}
.section1{
	margin-right: 150px;
}
.main2>button {
	padding: 8px 53px;
    font-size: 1.2rem;
    font-weight: 500;
}
.main2>button>a {
	text-decoration: none;
	color: unset;
}